body {
    font-family: "Nunito", sans-serif;
}

/* Navbar */
.navbar-brand {
    font-size: 40px;
    font-weight: lighter;
}

.nav-item {
    font-size: 20px;
    border: 3px solid rgb(99, 98, 98, 0);
    padding: 8px 10px !important;
    transition: .3s;
}

.nav-item:hover {
    border: 3px solid rgb(99, 98, 98, 1);
}